<!DOCTYPE html>
<html lang="en">
<head>
    <title>時間同步歌詞 Time-Synced Lyrics</title>
    <link rel="icon" type="image/svg+xml" href="./public/og_image/music.png" />
    <link rel="canonical" href="https://mercuryland.online/" />
    <meta charset="UTF-8" />
    <meta name="description" content="自動生成同步播放時間滾動的歌詞的網頁工具" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:locale" content="zh_TW" />
    <meta property="og:title" content="時間同步歌詞 Time-Synced Lyrics" />
    <meta property="og:description" content="自動生成同步播放時間滾動的歌詞的網頁工具" />
    <meta property="og:url" content="https://mercuryland.online/" />
    <meta property="og:site_name" content="時間同步歌詞" />
    <meta property="og:image" content="/public/og_image/music.png" />
    <meta property="og:image:width" content="225" />
    <meta property="og:image:height" content="225" />
    <meta property="og:image:type" content="image/png" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,700&display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet" />
</head>

<body>
    <div id="app">
        <div class="lyrics-container">
            <div v-for="(line, index) in parsedLyrics" class="lyric-line">
                <button :id="index" @click="jumpToCurrentLine(index)" class="lyric-button"
                    :class="{ 'active': isCurrentLine(index) }">
                    <span v-for="(phrase, phraseIndex) in line.text" :key="phraseIndex">
                        <span v-for="(char, charIndex) in phrase" class="lyric-char"
                            :class="{ 'completed': isCurrentLine(index) && isCompletedChar() && index < parsedLyrics.length - 1, 'kiai': isKiai(line) }"
                            :style="getCharStyle(index, phraseIndex, charIndex)" :key="charIndex">
                            {{ char }}
                        </span>
                    </span>
                </button>
            </div>
        </div>

        <div class="song-info-flex">
            <select v-model="currentSong">
                <option v-for="song in songList" :value="song">
                    {{ song.name }}
                </option>
            </select>
            <div class="song-title">
                {{ songShownName? songShownName : currentSong.name }}
            </div>
            <div class="song-artist">
                {{ songArtistName? songArtistName : "Various Artists" }}
            </div>

            <div>
                <input type="checkbox" id="showCurrentTimeCheckbox" v-model="showCurrentTime" />
                <label for="showCurrentTimeCheckbox">顯示現在時間刻</label>
                <span v-if="showCurrentTime">：{{ currentTime }}</span>
            </div>
            <div class="player-container">
                <div id="player"></div>
            </div>
        </div>

    </div>

    <script src="script.js"></script>
</body>
</html>