<!DOCTYPE html>
<html lang="en">

<head>
    <title>水星電臺</title>
    <link rel="icon" type="image/svg+xml" href="./public/og_image/music.png" />
    <link rel="canonical" href="https://mercuryland.online/" />
    <meta charset="UTF-8" />
    <meta name="description" content="同步播放時間滾動的歌詞的網頁音樂播放器" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:locale" content="zh_TW" />
    <meta property="og:title" content="水星電臺" />
    <meta property="og:description" content="同步播放時間滾動的歌詞的網頁音樂播放器" />
    <meta property="og:url" content="https://mercuryland.online/" />
    <meta property="og:site_name" content="時間同步歌詞" />
    <meta property="og:image" content="/public/og_image/music.png" />
    <meta property="og:image:width" content="225" />
    <meta property="og:image:height" content="225" />
    <meta property="og:image:type" content="image/png" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,700&display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet" />
</head>

<body>
    <div style="text-align: right; margin-right: 1%;" id="version">播放器版本：</div>
    <div id="app">
        <div class="lyrics-container">
            <div v-for="(line, index) in parsedLyrics" class="lyric-line">
                <button :id="index" @click="jumpToCurrentLine(index)" class="lyric-button"
                    :class="{ 'active': isCurrentLine(index) }">
                    <span v-for="(phrase, phraseIndex) in line.text" :key="phraseIndex">
                        <span v-for="(char, charIndex) in phrase" class="lyric-char"
                            :class="{ 'completed': isCurrentLine(index) && isCompletedChar() && index < parsedLyrics.length - 1, 'kiai': isKiai(line) }"
                            :style="getCharStyle(index, phraseIndex, charIndex)" :key="charIndex">
                            {{ char }}
                        </span>
                    </span>
                </button>
            </div>
        </div>

        <div class="right-big-container">
            <div class="right-container">
                <button id="setting-btn" class="settings-button">
                    <span>設定</span>
                </button>

                <div class="song-info-flex">
                    <div class="song-title">
                        {{ songShownName? songShownName : currentSong.name }}
                    </div>
                    <div class="song-artist">
                        {{ songArtistName? songArtistName : "Various Artists" }}
                    </div>

                    <div>
                        <span class="play-time">{{ formattedCurrentTime }} / {{ formattedSongDuration }}</span>
                    </div>
                </div>

                <div class="player-container">
                    <div id="player"></div>
                </div>



                <!-- The Modal -->
                <div id="setting-modal-container" class="modal">

                    <!-- Modal content -->
                    <div id="setting-modal-content" class="modal-content">
                        <span class="close">&times;</span>

                        <div id="song-select-container" class="settings-entry">
                            <label for="song-select">歌曲：</label>
                            <select v-model="currentSong" id="song-select">
                                <option v-for="song in songList" :value="song">
                                    {{ song.name }}
                                </option>
                            </select>
                        </div>

                        <div id="toggle-scroll-to-current-line-container" class="settings-entry">
                            <input type="checkbox" id="toggle-scroll-to-current-line" v-model="scrollToCurrentLine" />
                            <label for="toggle-scroll-to-current-line">自動滾動到當前行</label><br />
                        </div>

                        <div id="toggle-enable-translation-container" class="settings-entry">
                            <input type="checkbox" id="toggle-enable-translation" v-model="toggleTranslation" />
                            <label for="toggle-enable-translation">開啟翻譯</label><br />
                        </div>
                    </div>

                </div>
            </div>

            <div v-if="toggleTranslation">
                <div v-if="currentSong.translation == true" class="translate-container">
                    <div class="translation-text">{{ translationText }}</div>

                    <div class="translate-author">
                        <div v-if="translationCite !== null">
                            <a :href="translationCite" target="_blank" rel="noopener noreferrer"
                                class="translate-author-with-link">翻譯作者：{{ translationAuthor }}
                            </a>
                        </div>
                        <div class="translate-author-without-link" v-else>
                            翻譯作者：{{ translationAuthor }}
                        </div>
                    </div>
                </div>
                <div v-else class="translate-container">
                    <span>本歌曲尚未提供翻譯</span>
                </div>
            </div>

        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>