<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div id="app">
        <div class="lyrics-container">
            <div v-for="(line, index) in parsedLyrics" class="lyric-line">
                <button :id="index" @click="jumpToCurrentLine(index)" class="lyric-button"
                    :class="{ 'active': isCurrentLine(index) }">
                    <span v-for="(phrase, phraseIndex) in line.text" :key="phraseIndex">
                        <span v-for="(char, charIndex) in phrase" class="lyric-char"
                            :class="{ 'completed': isCurrentLine(index) && isCompletedChar() && index < parsedLyrics.length - 1 }"
                            :style="getCharStyle(index, phraseIndex, charIndex)" :key="charIndex">
                            {{ char }}
                        </span>
                    </span>
                </button>
            </div>
        </div>

        <div class="song-info-flex">
            <select v-model="songFileName">
                <option v-for="song in songList" :value="song">
                    {{ song }}
                </option>
            </select>
            <div class="song-title">
                {{ songShownName? songShownName : songFileName }}
            </div>
            <div class="song-artist">
                {{ songArtistName? songArtistName : "Various Artists" }}
            </div>
            <div class="player-container">
                <audio controls ref="audio" id="audio" :src="`./mp3/${songFileName}.mp3`" @timeupdate="updateTime"
                    class="song-player">
                </audio>
                {{ currentTime }}
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>