/* 添加完整 CSS 确保可见性 */
body {
  background: rgb(92, 149, 125);
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 0;
  font-family: system-ui;
}

.lyrics-container {
  text-align: center;
  background: rgba(59, 58, 58, 0.7);
  padding: 1rem;
  width: 850px;
  border-radius: 12px;
  overflow-y: auto;
  /* 启用垂直滚动 */
  scroll-behavior: smooth;
  /* 平滑滚动 */
  scroll-snap-type: y proximity;
  margin-top: 2rem;
  margin-bottom: 2rem;
  left: 10%;
  position: relative;
}

.lyric-line {
  margin: 1rem 0;
  opacity: 0.3;
  transition: opacity 0.3s;
  font-size: 1rem;
}

.lyric-line {
  opacity: 1;
  font-size: 1.5rem !important;
}

.lyric-char {
  position: relative;
  color: transparent;
  transition: all 0.2s ease;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    to right,
    #fff var(--progress, 0),
    #aaa var(--progress, 0)
  );
}

.lyric-button {
  font-size: 1.5rem;
  font-family: Noto Sans JP, Noto Sans TC, Noto Sans;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.lyric-button.active {
  font-size: 2rem;
  font-weight: bold;
}

.lyric-char.completed.kiai {
  stroke: beige;
  stroke-width: 0.5px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.song-player {
  margin-top: 1rem;
}

.song-info-flex {
  background: rgba(35, 31, 31, 0.7);
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  top: 10%;
  right: 4%;
  position: fixed;
}

.song-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  font-family: Poppins, Noto Sans;
}

.song-artist {
  font-size: 0.5rem;
  text-align: center;
  color: #fff;
  font-family: Noto Sans;
}
