/* 添加完整 CSS 确保可见性 */
body {
  background: rgb(54, 84, 86);
  color: white;
  min-height: 100vh;
  margin: 0;
  font-family: system-ui;
}

.lyrics-container {
  text-align: center;
  background: rgba(59, 58, 58, 0.7);
  padding: 1rem;
  width: 60%;
  border-radius: 12px;
  overflow-y: auto;
  /* 启用垂直滚动 */
  scroll-behavior: smooth;
  /* 平滑滚动 */
  scroll-snap-type: y proximity;
  margin-top: 1rem;
  margin-bottom: 2rem;
  left: 10%;
  position: relative;
}

.lyric-line {
  margin: 1rem 0;
  opacity: 0.3;
  transition: opacity 0.3s;
  font-size: 1rem;
}

.lyric-line {
  opacity: 1;
  font-size: 1.5rem !important;
}

.lyric-char {
  position: relative;
  color: transparent;
  transition: all 0.2s ease;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    to right,
    #fff var(--progress, 0),
    #aaa var(--progress, 0)
  );
}

.lyric-button {
  font-size: 1.5rem;
  font-family: Noto Sans JP, Noto Sans TC, Noto Sans;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.lyric-button.active {
  font-size: 2rem;
  font-weight: bold;
}

.lyric-char.completed.kiai {
  stroke: beige;
  stroke-width: 0.5px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.player-container {
  margin-top: 0.5rem;
}

.song-info-flex {
  background: rgba(35, 31, 31, 0.7);
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  gap: 0.5rem;
  width: 85%;
}

.song-title {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  font-family: Poppins, Noto Sans;
}

.song-artist {
  font-size: 1rem;
  text-align: center;
  color: #fff;
  font-family: Noto Sans;
}

.play-time {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #94a4cb;
  font-family: Source Sans Pro;
}

.right-big-container {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 30%;
  right: 0;
  bottom: 0;
  position: fixed;
  margin-bottom: 1rem;
}

.right-container {
  background: #443737b3;
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.translate-container {
  background: rgba(35, 31, 31, 0.7);
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
}

.translation-text {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #82d9cc;
  font-family: Noto Sans;
}

.translate-author {
  margin-top: 1.1rem;
}

.translate-author-with-link {
  font-size: 0.7rem;
  font-weight: bold;
  text-align: center;
  color: #52d289;
  font-family: Noto Sans;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-bottom: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  transition: transform 0.3s ease-in-out;
  .modal-content {
    position: absolute;
    background: rgba(69, 90, 71, 0.906);
    margin: auto;
    left: 25%;
    top: 30%;
    text-align: center;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  }
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.settings-entry {
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.settings-button {
  position: relative;
  right: 0%;
  min-width: 50%;
  background: transparent;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
}
.settings-button span {
  color: #ffffff;
  background-color: transparent;

  mix-blend-mode: difference;
}
.settings-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 100%;
  border-radius: 50px;
  background: black;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.settings-button:hover:before {
  background: black;
  width: 100%;
}
