/* 添加完整 CSS 确保可见性 */
body {
    font-family: system-ui;
}

.lyric-phrase {
    background-image: linear-gradient(to right, #fff 0, #aaa 0);
}

.lyric-button.active {
    .lyric-phrase {
        -webkit-background-clip: text;
        background-image: linear-gradient(
            to right,
            rgba(255, 255, 255, 0.85) var(--progress, 0),
            rgba(126, 126, 126, 0.75) var(--progress, 0)
        );
    }
}

.lyric-button {
    font-family: system-ui, Noto Sans JP, Noto Sans TC, Noto Sans;
}

.lyric-phrase.active.kiai {
    --text-shadow-blur-radius: 4px;
    --text-shadow-opacity: 0;
}

/* The slider */
.slider {
    -webkit-transition: 0.4s;
}

.slider:before {
    -webkit-transition: 0.4s;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
}

@keyframes background-fade-in {
    from {
        opacity: 0;
        transform: scale(1);
    }
    to {
        opacity: 0.5;
        transform: scale(1.1);
    }
}

/* 基礎動畫 */
.animate-background {
    animation: scale-pulse 30s infinite linear, background-fade-in 1.5s ease-out;
}

/* 緩和縮放動畫 */
@keyframes scale-pulse {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

.reflection-scan::after {
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0) 25%,
        rgba(255, 255, 255, 0.15) 50%,
        rgba(255, 255, 255, 0) 75%
    );
    animation: scan-reflect 4s infinite linear;
}

@keyframes scan-reflect {
    0% {
        transform: translate(-100%, -100%) rotate(45deg);
    }
    100% {
        transform: translate(100%, 100%) rotate(45deg);
    }
}

.reflection-scan::before {
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.03) 0%,
        rgba(255, 255, 255, 0) 20%,
        rgba(255, 255, 255, 0.08) 40%,
        rgba(255, 255, 255, 0) 60%,
        rgba(255, 255, 255, 0.03) 100%
    );
    animation: multi-scan 6s infinite linear;
}

@keyframes multi-scan {
    0% {
        transform: translateX(-100%) skewX(-15deg);
    }
    100% {
        transform: translateX(100%) skewX(-15deg);
    }
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 40;
}
